@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0A;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}